# Telegram Bot Token
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Owner Telegram ID
OWNER_ID=YOUR_TELEGRAM_ID_HERE

# Database
DATABASE_NAME=bot.db

# Selfbot (اختیاری)
API_ID=YOUR_API_ID
API_HASH=YOUR_API_HASH
SESSION_NAME=selfbot
